@use '../helpers' as *;

.button {
  width: fit-content;
  height: var(--input-height);
  padding: calc(var(--container-padding-x) / 2);
  font-weight: 500;
  color: var(--bg);
  background-color: var(--accent);
  border: var(--border-width-xm) solid var(--accent);
  border-radius: 20px;
  box-shadow: var(--shadow-m);
  transition:
    background-color var(--transition-duration) ease,
    transform var(--transition-duration) ease,
    box-shadow var(--transition-duration) ease;

  @include mobile {
    --input-height: 40px;
  }

  &:disabled {
    background-color: var(--accent-dark);
    border-color: var(--accent-dark);
    cursor: not-allowed;

    &:active,
    &:hover {
      background-color: var(--accent-dark);
      border-color: var(--accent-dark);
      box-shadow: var(--shadow-m);
      transform: translateY(0);
    }
  }

  @include hover {
    background: var(--primary-hover);
    box-shadow: var(--shadow-l);
    transition-duration: var(--transition-duration);
    transform: translateY(-2px);
  }

  &:focus {
    box-shadow: var(--shadow-m) !important;
  }

  &:active {
    box-shadow: var(--shadow-l);
    transform: translateY(0);
  }

  @include focus-visible-no-typing;

  &-theme {
    --sizeButton: 96px;

    position: relative;
    width: var(--sizeButton);
    background: var(--bg-light);
    border: var(--border);
    border-width: var(--border-width-xm);
    box-shadow: var(--shadow-m);
    transition:
      transform var(--transition-duration-slow)
        cubic-bezier(0.34, 1.56, 0.64, 1),
      background var(--transition-duration-slow) ease-in-out,
      border-color var(--transition-duration-slow) ease-in-out,
      box-shadow var(--transition-duration-slow) ease-in-out;

    @include tablet {
      --sizeButton: 76px;
      --input-height: 36px;
    }

    @include hover {
      background: var(--highlight);
      box-shadow: var(--shadow-m);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: var(--shadow-l);
      transform: translateY(0) scale(0.98);
    }

    &-toggle {
      @include abs-y;
      @include flex-center;

      left: calc(var(--sizeButton) / 8);
      width: calc(var(--sizeButton) / 4);
      height: calc(var(--sizeButton) / 4);
      transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

      svg {
        width: calc(var(--sizeButton) / 4.25);
        height: calc(var(--sizeButton) / 4.25);
        background: var(--bg-dark);
        border-radius: 50%;
        box-shadow: var(--shadow-l);
        transition:
          background var(--transition-duration-slow) ease-in-out,
          transform var(--transition-duration-slow)
            cubic-bezier(0.34, 1.56, 0.64, 1),
          border-color var(--transition-duration-slow) ease-in-out,
          box-shadow var(--transition-duration-slow) ease-in-out;
      }

      &.is-active {
        --translateX: calc(var(--sizeButton) / 2.2);

        transform: translateX(var(--translateX));

        svg {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.search-form__submit {
  text-align: center;
  border-radius: var(--border-radius-l);

  @include tablet {
    --input-height: 40px;

    padding: calc(var(--container-padding-x) / 3);
  }
}

.filters__toggle {
  --input-height: 40px;
  --icon-size: 20px;

  position: relative;
  padding: calc(var(--container-padding-x) / 3);
  padding-right: calc(var(--icon-size) * 2);
  line-height: 1.4;
  border-radius: var(--border-radius-l);

  @include mobile {
    --input-height: 36px;
  }

  &::after {
    content: '';
    right: calc(var(--icon-size) / 2);
    background-color: var(--bg);
    transition: transform var(--transition-duration-slow) ease-in-out;
    transform: rotate(180deg);
    pointer-events: none;
    mask-image: url('/movie-finder/arrow.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    @include abs-y;
    @include square(var(--icon-size));
  }

  &[aria-expanded='true'] {
    &::after {
      transform: rotate(0deg);
    }
  }
}
