@use '../helpers' as *;

.button {
  height: var(--input-height);
  background-color: var(--accent);
  padding: calc(var(--container-padding-x) / 2);
  border-radius: 20px;
  width: fit-content;
  border: var(--border-width-xm) solid var(--accent);
  color: var(--bg);
  font-weight: 500;
  transition: background-color var(--transition-duration) ease,
  transform var(--transition-duration) ease,
  box-shadow var(--transition-duration) ease;
  box-shadow: var(--shadow-m);

  @include mobile {
    --input-height: 40px;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--accent-dark);
    border-color: var(--accent-dark);

    &:active,
    &:hover {
      box-shadow: var(--shadow-m);
      transform: translateY(0);
      background-color: var(--accent-dark);
      border-color: var(--accent-dark);
    }
  }

  @include hover() {
    background: var(--primary-hover);
    transform: translateY(-2px);
    box-shadow: var(--shadow-l);
    transition-duration: var(--transition-duration);
  }

  &:focus {
    box-shadow: var(--shadow-m) !important;
  }

  &:active {
    transform: translateY(0);
    box-shadow: var(--shadow-l);
  }

  @include focus-visible-no-typing;

  &-theme {
    --sizeButton: 96px;

    position: relative;
    width: var(--sizeButton);
    background: var(--bg-light);
    border: var(--border);
    border-width: var(--border-width-xm);
    box-shadow: var(--shadow-m);
    transition: transform var(--transition-duration-slow) cubic-bezier(0.34, 1.56, 0.64, 1),
      background var(--transition-duration-slow) ease-in-out,
      border-color var(--transition-duration-slow) ease-in-out,
      box-shadow var(--transition-duration-slow) ease-in-out;

    @include tablet {
      --sizeButton: 76px;
      --input-height: 36px;
    }

    @include hover {
      transform: translateY(-2px);
      box-shadow: var(--shadow-m);
      background: var(--highlight);
    }

    &:active {
      transform: translateY(0) scale(0.98);
      box-shadow: var(--shadow-l);
    }

    &-toggle {
      @include abs-y;
      @include flex-center;

      width: calc(var(--sizeButton) / 4);
      height: calc(var(--sizeButton) / 4);
      left: calc(var(--sizeButton) / 8);
      transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

      svg {
        width: calc(var(--sizeButton) / 4.25);
        height: calc(var(--sizeButton) / 4.25);
        border-radius: 50%;
        background: var(--bg-dark);
        box-shadow: var(--shadow-l);
        transition: background var(--transition-duration-slow) ease-in-out,
          transform var(--transition-duration-slow) cubic-bezier(0.34, 1.56, 0.64, 1),
          border-color var(--transition-duration-slow) ease-in-out,
          box-shadow var(--transition-duration-slow) ease-in-out;
      }

      &.is-active {
        --translateX: calc(var(--sizeButton) / 2.2);

        transform: translateX(var(--translateX));

        svg {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.search-form__submit {
  border-radius: var(--border-radius-l);
  text-align: center;

  @include tablet {
    --input-height: 40px;

    padding: calc(var(--container-padding-x) / 3);
  }
}

.filters__toggle {
  --input-height: 40px;
  --icon-size: 20px;

  padding: calc(var(--container-padding-x) / 3);
  line-height: 1.4;
  border-radius: var(--border-radius-l);

  position: relative;
  padding-right: calc(var(--icon-size) * 2);

  @include mobile {
    --input-height: 36px;
  }

  &:after {
    content: '';

    @include abs-y;

    pointer-events: none;

    @include square(var(--icon-size));

    right: calc(var(--icon-size) / 2);
    background-color: var(--bg);
    mask-image: url("/movie-finder/arrow.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    transform: rotate(180deg);

    transition: transform var(--transition-duration-slow) ease-in-out;
  }

  &[aria-expanded="true"] {
    &:after {
      transform: rotate(0deg);
    }
  }
}