@use '../helpers' as *;

.filters {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-top: 24px;

  @include tablet {
    gap: 16px;
    margin-top: 12px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__description {
    text-align: start;
  }

  &__content {
    @include flex-center();
    gap: 25px;

    @include tablet {
      flex-direction: column;
      align-items: start;
      gap: 16px;
    }
  }

  &__group {
    @include flex-center();
    gap: 10px;

    @include tablet {
      gap: 6px;
    }

    @include mobile-s {
      flex-wrap: wrap;
    }
  }

  &__label {
    font-weight: 600;
    white-space: nowrap;
  }

  &__select {
    --input-height: 36px;

    @include tablet {
      --input-height: 33px;
    }

    height: var(--input-height);
    background-color: var(--accent);
    color: var(--bg);
    font-weight: 500;
    border: var(--border-width-xm) solid var(--accent);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-m);

    @include focus-visible-no-typing;

    @include hover() {
      background: var(--primary-hover);
      transform: translateY(-1px);
      box-shadow: var(--shadow-l);
      transition-duration: var(--transition-duration);
    }

    &:focus {
      box-shadow: var(--shadow-m) !important;
    }

    &:active {
      box-shadow: var(--shadow-l);
    }
  }

  &__year-range {
    @include flex-center();
    gap: 10px;

    @include tablet {
      gap: 6px;
    }
  }

  &__year-label {
    @include flex-center();
    gap: 10px;

    @include tablet {
      gap: 6px;
    }
  }

  &__input {
    --input-height: 36px;

    @include tablet {
      &--year {
        --input-height: 30px;
      }
    }

    height: var(--input-height);
    padding: calc(var(--container-padding-x) / 1.6);
    width: fit-content;
    background-color: var(--bg-light);
    border: var(--border-width-xm) solid var(--border);
    border-radius: var(--border-radius);
    color: var(--text);
    font-weight: 500;
    box-shadow: var(--shadow-m);

    @include hover() {
      background: var(--bg);
      box-shadow: var(--shadow-l);
      transition-duration: var(--transition-duration);
    }

    &:focus {
      box-shadow: var(--shadow-l) !important;
    }

    &:active {
      box-shadow: var(--shadow-l);
    }

    &::placeholder {
      color: var(--text-muted);
    }

    @include focus-visible-typing;
  }

  &__range {
    width: 100%;
    cursor: pointer;
    accent-color: var(--accent);
    margin: 0;
  }

  &__output,
  &__output-rating {
    font-weight: 600;
    color: var(--text-muted);
    text-align: center;

    &-wrapper {
      @include flex-center();
    }
  }

  &__output-rating {
    @include flex-center();

    gap: 3px;
  }

  &__output-star {
    width: inherit;
    height: inherit;
    color: goldenrod;

    @include square(24px);

    @include tablet {
      @include square(20px);
    }
  }
}