@use '../helpers' as *;

.footer {
  @include flex-center;

  position: relative;
  flex-shrink: 0;
  padding: clamp(6px, 3vw, 10px) var(--container-padding-x);
  margin-top: calc(var(--container-padding-x) * 2);

  &::before {
    position: absolute;
    inset: 0;
    z-index: -2;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background: var(--bg-dark);
    border-top: var(--border-width-s) solid var(--border-muted);
    box-shadow: var(--shadow-s);
    content: '';
  }

  &__link {
    display: flex;
    gap: clamp(6px, 1vw, 8px);
    align-items: center;
    padding: clamp(6px, 1vw, 8px) clamp(12px, 2vw, 16px);
    color: var(--text);
    background: var(--bg);
    box-shadow: var(--shadow-m);
    border-radius: var(--border-radius);
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease, transform var(--transition-duration) ease;

    @include hover {
      background-color: var(--highlight);
      color: var(--primary);
      box-shadow: var(--shadow-l);
      transform: translateY(-2px);
    }

    @include focus-visible-no-typing;
  }

  &__icon {
    @include square(clamp(20px, 4vw, 24px));

    flex-shrink: 0;
    transition: transform var(--transition-duration) ease;

    .footer__link:hover & {
      transform: scale(1.1);
    }
  }

  &__text {
    @include fluid-text(16, 14);

    font-weight: 500;
  }
}
