@use '../helpers' as *;

.header {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: clamp(12px, 3vw, 18px) var(--container-padding-x);
  margin-bottom: calc(var(--container-padding-x) * 2);

  &::before {
    position: absolute;
    inset: 0;
    z-index: -2;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background: var(--bg-dark);
    border-bottom: var(--border-width-s) solid var(--border-muted);
    box-shadow: var(--shadow-l);
    content: '';
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: clamp(10px, 2vw, 16px);
    transition: transform var(--transition-duration) ease;
  }

  &__icon {
    flex-shrink: 0;
    font-size: clamp(28px, 5vw, 40px);
  }

  &__title {
    @include fluid-text(36, 20);

    pointer-events: none;
    font-weight: 600;
    color: var(--text);
  }
}
