@use '../helpers' as *;

.movie-card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include tablet {
    gap: 6px;
  }

  background-color: var(--bg-light);
  border: var(--border-width-xm) solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text);
  padding: calc(var(--container-padding-x) / 2);

  @include tablet {
    padding: calc(var(--container-padding-x) / 1.5);
  }

  width: 100%;

  box-shadow: var(--shadow-m);

  transition: background-color var(--transition-duration) ease,
  transform var(--transition-duration) ease,
  box-shadow var(--transition-duration) ease;

  @include focus-visible-no-typing;

  @include hover() {
    box-shadow: var(--shadow-l);
    transform: translateY(-2px);
    background-color: var(--highlight);
  }

  &:focus {
    box-shadow: var(--shadow-l) !important;
  }

  &:active {
    transform: translateY(0);
    box-shadow: var(--shadow-l);
  }

  &__image-wrapper {
    position: relative;
    border-radius: var(--border-radius-xs);
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    box-shadow: var(--shadow-l);
  }

  &__image {
    border-radius: var(--border-radius-xs);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }

  &__meta {
    font-weight: 600;
    color: var(--text-muted);
    text-align: center;
  }

  &__duration {
    position: relative;
    padding-left: 27px;

    @include tablet {
      padding-left: 22px;
    }

    &::before {
      @include abs-y;

      content: ' ';
      background-color: var(--text-muted);
      mask-image: url("/movie-finder/clock.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      @include square(24px);
      left: 0;

      @include tablet {
        @include square(20px);
      }
    }
  }

  &__rating-text {
    display: flex;

  }

  &__star {
    width: inherit;
    height: inherit;
    color: goldenrod;

    @include square(24px);

    @include tablet {
      @include square(20px);
    }

    @include mobile-s {
      @include square(16px);
    }
  }

  &__rating-wrapper {
    @include flex-center();
    gap: 3px;
  }

  &__title-wrapper {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    word-break: break-word;
    cursor: help;
  }

  &__title {
    text-align: center;
    font-weight: 500;
  }
}