@use '../helpers' as *;

.movie-dialog {
  position: fixed;
  z-index: 1000;
  inset: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  padding: 0;
  background-color: oklch(0% 0 0deg / 0.75);
  border: none;
  opacity: 0;
  transition:
    opacity var(--transition-duration) ease,
    transform var(--transition-duration) ease,
    display var(--transition-duration) allow-discrete;
  transform: scale(0.95);
  backdrop-filter: blur(8px);

  &[open] {
    opacity: 1;
    transform: scale(1);

    @starting-style {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  &__container {
    position: relative;

    @include flex-center;

    min-height: 100vh;
    padding: var(--container-padding-x);

    @include tablet {
      padding: calc(var(--container-padding-x) / 2);
    }
  }

  &__close {
    --size: 36px;

    position: absolute;
    top: calc(var(--size) / 4);
    right: calc(var(--size) / 4);
    background-color: var(--bg-light);
    border: var(--border);
    border-radius: 50%;

    @include square(var(--size));
    @include focus-visible-no-typing;

    &::before,
    &::after {
      content: '';

      @include abs-center;

      width: calc(var(--size) / 2);
      height: 2px;
      background-color: var(--text-muted);
      border-radius: var(--border-radius-m);
    }

    &::before {
      rotate: 45deg;
    }

    &::after {
      rotate: -45deg;
    }

    @include hover {
      background-color: var(--highlight);
      box-shadow: var(--shadow-l);
    }

    &:active {
      box-shadow: var(--shadow-m);
    }

    @include tablet {
      --size: 28px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    gap: 24px;
    width: 100%;
    max-width: 50vw;
    padding: calc(var(--container-padding-x) * 2);
    background-color: var(--bg);
    border: var(--border-width-xm) solid var(--border-color);
    border-radius: var(--border-radius-l);
    box-shadow: var(--shadow-l);

    @include laptop {
      max-width: 70vw;
    }

    @include tablet {
      gap: 12px;
      max-width: 85vw;
      padding: calc(var(--container-padding-x));
    }

    @include mobile {
      flex-direction: column;
      gap: 16px;
      max-width: 90vw;
    }
  }

  &__poster-wrapper {
    flex-shrink: 0;
    overflow: hidden;
    aspect-ratio: 2 / 3;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    border-radius: var(--border-radius-xs);
    box-shadow: var(--shadow-l);

    @include tablet {
      max-width: 200px;
    }

    @include mobile {
      max-width: 180px;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-xs);
    object-position: center;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include laptop {
      gap: 12px;
    }

    @include tablet {
      gap: 6px;
    }
  }

  &__title {
    position: relative;
    width: 100%;
    padding-bottom: 6px;
    font-weight: 700;
    line-height: 1.3;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: center;
    color: var(--text);
    word-wrap: break-word;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: var(--border-width-s) solid var(--border-color);
    }
  }

  &__meta {
    @include flex-center;

    flex-wrap: wrap;
    gap: 24px;
    font-weight: 500;
    color: var(--text-muted);

    @include tablet {
      justify-content: space-around;
      gap: 12px;
    }

    @include mobile {
      gap: 6px;
    }
  }

  &__duration,
  &__rating-text,
  &__year-text {
    @include flex-center;

    gap: 6px;
  }

  &__overview {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include tablet {
        gap: 8px;
      }

      @include mobile {
        gap: 6px;
      }
    }

    &-description {
      font-weight: 500;
      color: var(--text-muted);
    }

    color: var(--text);
  }
}
