@use '../helpers' as *;

.movie-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: calc(var(--container-padding-x) / 2);
  color: var(--text);
  background-color: var(--bg-light);
  border: var(--border-width-xm) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-m);
  transition:
    background-color var(--transition-duration) ease,
    transform var(--transition-duration) ease,
    box-shadow var(--transition-duration) ease;

  @include tablet {
    gap: 6px;
  }

  @include tablet {
    padding: calc(var(--container-padding-x) / 1.5);
  }

  @include focus-visible-no-typing;

  @include hover {
    background-color: var(--highlight);
    box-shadow: var(--shadow-l);
    transform: translateY(-2px);
  }

  &:focus {
    box-shadow: var(--shadow-l) !important;
  }

  &:active {
    box-shadow: var(--shadow-l);
    transform: translateY(0);
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 2 / 3;
    width: 100%;
    border-radius: var(--border-radius-xs);
    box-shadow: var(--shadow-l);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-xs);
    object-position: center;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }

  &__meta {
    font-weight: 600;
    text-align: center;
    color: var(--text-muted);
  }

  &__duration {
    position: relative;
    padding-left: 27px;

    @include tablet {
      padding-left: 22px;
    }

    &::before {
      @include abs-y;

      content: ' ';
      left: 0;
      background-color: var(--text-muted);
      mask-image: url('/movie-finder/clock.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      @include square(24px);

      @include tablet {
        @include square(20px);
      }
    }
  }

  &__rating-text {
    display: flex;
  }

  &__star {
    width: inherit;
    height: inherit;
    color: goldenrod;

    @include square(24px);

    @include tablet {
      @include square(20px);
    }

    @include mobile-s {
      @include square(16px);
    }
  }

  &__rating-wrapper {
    @include flex-center;

    gap: 3px;
  }

  &__title-wrapper {
    overflow: hidden;
    display: -webkit-box;
    width: 100%;
    line-height: 1.4;
    text-overflow: ellipsis;
    cursor: help;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }

  &__title {
    font-weight: 500;
    text-align: center;
  }
}
