@use '../helpers' as *;

.result {
  @include flex-center();
  flex-direction: column;
  background-color: var(--bg);
  gap: 24px;

  border: var(--border-width-xm) solid var(--border);
  border-radius: var(--border-radius-l);
  font-weight: 500;
  color: var(--text);

  padding: 24px;

  min-height: 250px;
  width: 100%;

  box-shadow: var(--shadow-l);

  @include tablet {
    gap: 12px;
  }

  &__found {
    position: relative;
    align-self: start;
    width: 100%;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: var(--border-width-s) solid var(--border-color);
      margin-top: 12px;

      @include mobile {
        margin-top: 6px;
      }
    }

    &-number {
      font-weight: 600;
    }
  }

  &__list {
    --card-width: 200px;

    @include tablet {
      --card-width: 160px;
    }

    @include mobile {
      --card-width: 140px;
    }

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    gap: 24px;
    padding-block: var(--container-padding-x);

    @include tablet {
      gap: 12px;
    }
  }

  &__load-more {
    border-radius: var(--border-radius-l);

    @include tablet {
      --input-height: 40px;

      padding: calc(var(--container-padding-x) / 3);
    }
  }
}