@use '../helpers' as *;

.result {
  @include flex-center;

  flex-direction: column;
  gap: 24px;
  width: 100%;
  min-height: 250px;
  padding: 24px;
  font-weight: 500;
  color: var(--text);
  background-color: var(--bg);
  border: var(--border-width-xm) solid var(--border);
  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow-l);
  position: relative;

  @include tablet {
    gap: 12px;
  }

  &__found {
    align-self: start;
    position: relative;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 12px;
      border-bottom: var(--border-width-s) solid var(--border-color);

      @include mobile {
        margin-top: 6px;
      }
    }

    &-number {
      font-weight: 600;
    }
  }

  &__list {
    --card-width: 200px;

    @include tablet {
      --card-width: 160px;
    }

    @include mobile {
      --card-width: 140px;
    }

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    gap: 24px;
    width: 100%;
    min-height: 300px;
    padding-block: var(--container-padding-x);

    @include tablet {
      gap: 12px;
    }
  }

  &__load-more {
    border-radius: var(--border-radius-l);

    @include tablet {
      --input-height: 40px;

      padding: calc(var(--container-padding-x) / 3);
    }
  }
}
