@use '../helpers' as *;

.search {
  margin-bottom: 24px;
}

.search-form {
  @include flex-center;

  flex-direction: column;
  gap: 24px;

  @include laptop {
    gap: 16px;
  }

  &--ai {
    .search-form {
      &__field {
        &::after {
          display: none;
        }

        flex-direction: column;
        gap: 12px;
        width: auto;

        @include flex-center;
      }

      &__label {
        font-weight: 600;
      }

      &__textarea {
        @include focus-visible-typing;

        width: 50vw;
        height: 25vh;
        padding: var(--container-padding-x);
        font-weight: 500;
        color: var(--text);
        background: var(--bg-light);
        border: var(--border-width-xm) solid var(--border);
        border-radius: var(--border-radius-l);
        box-shadow: var(--shadow-l);
        transition:
          background-color var(--transition-duration) ease,
          border-color var(--transition-duration) ease,
          box-shadow var(--transition-duration) ease;

        @include laptop {
          width: 75vw;
        }

        @include tablet {
          width: 80vw;
        }

        @include hover {
          background-color: var(--highlight);
        }

        &:focus {
          background-color: var(--highlight);
          box-shadow: var(--shadow-m) !important;
        }

        &::placeholder {
          color: var(--text-muted);
        }
      }

      &__ai-output {
        position: relative;

        @include flex-center;

        flex-direction: column;
        width: 50vw;
        margin-top: 12px;

        @include laptop {
          width: 75vw;
        }

        @include tablet {
          width: 80vw;
          margin-top: 6px;
        }

        @include mobile {
          margin-top: 0;
        }
      }

      &__output-label {
        align-self: start;
        position: relative;
        z-index: 3;
        padding: 5px 12px;
        font-weight: 600;
        color: var(--text);
        background: var(--bg-light);
        border: var(--border-width-xm) solid var(--border);
        border-radius: var(--border-radius-m);
        box-shadow: var(--shadow-m);
        transition:
          background-color var(--transition-duration) ease,
          border-color var(--transition-duration) ease,
          box-shadow var(--transition-duration) ease;
        transform: translateY(50%) translateX(50%);

        @include tablet {
          padding: 3px 6px;
        }
      }

      &__output-wrapper {
        position: relative;
        width: 100%;
        border-radius: var(--border-radius-l);
      }

      &__output {
        display: block;
        width: 100%;
        min-height: 150px;
        padding: calc(var(--container-padding-x) * 2) var(--container-padding-x)
          var(--container-padding-x);
        font-weight: 500;
        color: var(--text);
        background: var(--bg-light);
        border: var(--border-width-xm) solid var(--border);
        border-radius: var(--border-radius-l);
        box-shadow: var(--shadow-l);
        transition:
          background-color var(--transition-duration) ease,
          border-color var(--transition-duration) ease,
          box-shadow var(--transition-duration) ease;

        &::after {
          content: '* ИИ может ошибаться';
          display: block;
          margin-top: 24px;
          padding-top: 12px;
          font-size: 12px;
          font-weight: 400;
          color: var(--text-muted);
          border-top: var(--border-width-s) solid var(--border-color);
        }

        @include tablet {
          min-height: 100px;
          padding: calc(var(--container-padding-x) * 1.5)
            var(--container-padding-x) var(--container-padding-x);
        }

        &-movie-confidence {
          display: inline-flex;
          align-items: center;
          transform: translateY(2px);

          &::before {
            content: '';
            flex-shrink: 0;
            border-radius: 50%;
            box-shadow: var(--shadow-m);

            @include square(16px);
          }

          &[data-confidence='high']::before {
            background-color: var(--success);
          }

          &[data-confidence='medium']::before {
            background-color: var(--warning);
          }

          &[data-confidence='low']::before {
            background-color: var(--danger);
          }
        }
      }
    }
  }

  &__field {
    position: relative;
    width: 50vw;

    @include tablet {
      width: 70vw;
    }

    @include mobile {
      width: 80vw;
    }

    &:first-child {
      margin-top: 24px;

      @include tablet {
        margin-top: 12px;
      }

      @include mobile {
        margin-top: 6px;
      }
    }

    &::after {
      @include abs-y;

      content: '';
      right: 16px;
      background-color: var(--text);
      pointer-events: none;
      mask-image: url('/movie-finder/search-icon.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      @include square(24px);
    }
  }

  &__input {
    width: 100%;
    height: var(--input-height);
    padding: var(--container-padding-x);
    padding-right: 48px;
    font-weight: 500;
    color: var(--text);
    background: var(--bg-light);
    border: var(--border-width-xm) solid var(--border);
    border-radius: var(--border-radius-l);
    box-shadow: var(--shadow-l);
    transition:
      background-color var(--transition-duration) ease,
      border-color var(--transition-duration) ease,
      box-shadow var(--transition-duration) ease;

    @include mobile {
      --input-height: 40px;

      padding: calc(var(--container-padding-x) / 2);
      padding-right: 48px;
    }

    @include focus-visible-typing;

    @include hover {
      background-color: var(--highlight);
    }

    &:focus {
      background-color: var(--highlight);
      box-shadow: var(--shadow-m) !important;
    }

    &::placeholder {
      color: var(--text-muted);
    }
  }
}
