@use '../helpers' as *;

.search {
  margin-bottom: 24px;
}

.search-form {
  @include flex-center();
  flex-direction: column;
  gap: 24px;

  &--ai {
    .search-form{
      &__field {
        &::after {
          display: none;
        }

        width: auto;

        @include flex-center();
        flex-direction: column;
        gap: 12px;

      }

      &__label {
        font-weight: 600;
      }

      &__textarea {
        @include focus-visible-typing;
        width: 50vw;
        height: 25vh;

        font-weight: 500;

        background: var(--bg-light);
        border: var(--border-width-xm) solid var(--border);
        border-radius: var(--border-radius-l);
        color: var(--text);

        padding: var(--container-padding-x);

        transition: background-color var(--transition-duration) ease,
        border-color var(--transition-duration) ease,
        box-shadow var(--transition-duration) ease;

        box-shadow: var(--shadow-l);


        @include hover() {
          background-color: var(--highlight);
        }

        &:focus {
          box-shadow: var(--shadow-m) !important;
          background-color: var(--highlight);
        }

        &::placeholder {
          color: var(--text-muted);
        }
      }

      &__ai-output {
        position: relative;

        @include flex-center();
        flex-direction: column;
        width: 50vw;
        margin-top: 24px;
      }

      &__output-label {
        position: relative;
        z-index: 1;
        align-self: start;

        padding: 5px 12px;
        background: var(--bg-light);
        border: var(--border-width-xm) solid var(--border);
        border-radius: var(--border-radius-m);
        box-shadow: var(--shadow-m);

        font-weight: 600;
        color: var(--text);

        transform: translateY(50%) translateX(50%);

        transition: background-color var(--transition-duration) ease,
        border-color var(--transition-duration) ease,
        box-shadow var(--transition-duration) ease;
      }

      &__output {
        background: var(--bg-light);
        border: var(--border-width-xm) solid var(--border);
        border-radius: var(--border-radius-l);
        font-weight: 500;
        color: var(--text);

        padding: calc(var(--container-padding-x) * 2)
        var(--container-padding-x)
        var(--container-padding-x);

        min-height: 150px;
        width: 100%;

        transition: background-color var(--transition-duration) ease,
        border-color var(--transition-duration) ease,
        box-shadow var(--transition-duration) ease;

        box-shadow: var(--shadow-l);

        &::after {
          content: '* ИИ может ошибаться';
          display: block;
          margin-top: 24px;
          padding-top: 12px;
          border-top: var(--border-width-s) solid var(--border-color);

          font-size: 12px;
          color: var(--text-muted);
          font-weight: 400;
        }
      }
    }

  }

  &__field {
    position: relative;
    width: 50vw;

    &:first-child {
      margin-top: 24px;
    }

    &::after {
      @include abs-y;
      content: '';
      right: 16px;
      pointer-events: none;

      @include square(24px);

      background-color: var(--text);
      mask-image: url("/movie-finder/search-icon.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }

  &__input {
    width: 100%;
    height: var(--input-height);
    font-weight: 500;

    background: var(--bg-light);
    border: var(--border-width-xm) solid var(--border);
    border-radius: var(--border-radius-l);
    color: var(--text);

    padding: var(--container-padding-x);
    padding-right: 48px;

    transition: background-color var(--transition-duration) ease,
      border-color var(--transition-duration) ease,
      box-shadow var(--transition-duration) ease;

    box-shadow: var(--shadow-l);

    @include focus-visible-typing;

    @include hover() {
      background-color: var(--highlight);
    }

    &:focus {
      box-shadow: var(--shadow-m) !important;
      background-color: var(--highlight);
    }

    &::placeholder {
      color: var(--text-muted);
    }
  }
}