@use '../helpers' as *;

.tabs {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__nav {
    @include flex-center;

    gap: 25px;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-m);
    scroll-behavior: smooth;
    scrollbar-width: none;

    @include laptop {
      gap: 14px;
    }
  }

  &__button {
    flex-shrink: 0;
    position: relative;
    padding: 8px 16px;

    @include focus-visible-no-typing;

    &:active {
      transform: translateY(0);
    }

    &.is-active {
      background-color: var(--primary);

      @include hover {
        transform: none;
      }
    }

    @include laptop {
      padding: 4px 8px;
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    background-color: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-l);
  }

  &__panel {
    position: absolute;
    inset: 0;
    overflow-y: hidden;
    padding: 24px;
    visibility: hidden;
    opacity: 0;
    transition-duration: var(--transition-duration);
    transition-property: opacity, visibility, transform;
    transform: translateY(-20px);

    &.is-active {
      position: static;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
