@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-base), sans-serif;
  color: var(--text);
  background-color: var(--bg-dark);
}

.main {
  flex: 1;
}

h1,
.h1 {
  @include fluid-text(58, 28);

  font-weight: 700;
}

h2,
.h2 {
  @include fluid-text(48, 24);

  font-weight: 700;
}

h3,
.h3 {
  @include fluid-text(38, 20);

  font-weight: 700;
}

h4,
.h4 {
  @include fluid-text(24, 18);

  font-weight: 400;
}

h5,
.h5 {
  @include fluid-text(22, 18);

  font-weight: 400;
}

h6,
.h6 {
  @include fluid-text(20, 16);

  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--primary);
  }

  &[class] {
    text-decoration: none;
  }
}
