@use 'helpers/index' as *;

:root {
  --bg-dark: oklch(19% 0.02 30deg);
  --bg: oklch(24% 0.025 30deg);
  --bg-light: oklch(30% 0.03 30deg);

  --text: oklch(88% 0.02 60deg);
  --text-muted: oklch(71% 0.025 50deg);

  --highlight: oklch(38% 0.035 40deg);

  --border-color: oklch(40% 0.035 40deg);
  --border-muted: oklch(35% 0.035 35deg);

  --primary: oklch(60% 0.12 45deg);
  --primary-hover: oklch(68% 0.14 45deg);
  --primary-active: oklch(64% 0.12 45deg);

  --accent: oklch(56% 0.16 50deg);
  --accent-dark: oklch(46% 0.14 40deg);

  --secondary: oklch(45% 0.06 40deg);
  --danger: oklch(62% 0.15 25deg);
  --warning: oklch(68% 0.12 70deg);
  --success: oklch(62% 0.12 150deg);
  --info: oklch(62% 0.12 240deg);

  /* shadows */
  --shadow-s:
    inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m:
    inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l:
    inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */

  body.light {
    --bg-dark: oklch(92% 0.02 50deg);
    --bg: oklch(96% 0.015 50deg);
    --bg-light: oklch(99% 0.01 50deg);

    --text: oklch(22% 0.03 30deg);
    --text-muted: oklch(52% 0.03 40deg);

    --highlight: oklch(94% 0.015 50deg);

    --border-color: oklch(68% 0.04 40deg);
    --border-muted: oklch(85% 0.02 45deg);

    --primary: oklch(45% 0.2 45deg);
    --primary-hover: oklch(40% 0.19 45deg);
    --primary-active: oklch(50% 0.18 45deg);

    --accent: oklch(58% 0.18 50deg);
    --accent-dark: oklch(48% 0.16 40deg);

    --secondary: oklch(50% 0.08 40deg);
    --danger: oklch(58% 0.18 25deg);
    --warning: oklch(65% 0.15 70deg);
    --success: oklch(58% 0.15 150deg);
    --info: oklch(58% 0.15 240deg);
  }

  --border: var(--border-width-m) solid var(--border-color);

  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-xm: 2px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --input-height: 44px;

  --font-family-base: 'Rubik', sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
