@use 'helpers/index' as *;

:root {
  --bg-dark: oklch(0.19 0.02 30);
  --bg: oklch(0.24 0.025 30);
  --bg-light: oklch(0.30 0.03 30);

  --text: oklch(0.88 0.02 60);
  --text-muted: oklch(0.71 0.025 50);

  --highlight: oklch(0.38 0.035 40);

  --border-color: oklch(0.40 0.035 40);
  --border-muted: oklch(0.35 0.035 35);

  --primary: oklch(0.6 0.12 45);
  --primary-hover: oklch(0.68 0.14 45);
  --primary-active: oklch(0.64 0.12 45);

  --accent: oklch(0.56 0.16 50);
  --accent-dark: oklch(0.46 0.14 40);

  --secondary: oklch(0.45 0.06 40);
  --danger: oklch(0.62 0.15 25);
  --warning: oklch(0.68 0.12 70);
  --success: oklch(0.62 0.12 150);
  --info: oklch(0.62 0.12 240);

  /* shadows */
  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */

  body.light {
    --bg-dark: oklch(0.92 0.02 50);
    --bg: oklch(0.96 0.015 50);
    --bg-light: oklch(0.99 0.01 50);

    --text: oklch(0.22 0.03 30);
    --text-muted: oklch(0.52 0.03 40);

    --highlight: oklch(0.94 0.015 50);

    --border-color: oklch(0.68 0.04 40);
    --border-muted: oklch(0.85 0.02 45);

    --primary: oklch(0.45 0.20 45);
    --primary-hover: oklch(0.40 0.19 45);
    --primary-active: oklch(0.50 0.18 45);

    --accent: oklch(0.58 0.18 50);
    --accent-dark: oklch(0.48 0.16 40);

    --secondary: oklch(0.50 0.08 40);
    --danger: oklch(0.58 0.18 25);
    --warning: oklch(0.65 0.15 70);
    --success: oklch(0.58 0.15 150);
    --info: oklch(0.58 0.15 240);
  }

  --border: var(--border-width-m) solid var(--border-color);

  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-xm: 2px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --input-height: 44px;

  --font-family-base: 'Rubik', sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
