@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'components/header';
@use 'components/button';
@use 'components/tabs';
@use 'components/search-form';
@use 'components/filters';
@use 'components/footer';